.login .content
{
	width: 560px;
}

.error
{
   color:red;
   font-weight:bold;
}

.sweet-alert .sa-icon{
       border-radius: 50% !important;
}

.view_img
{
   text-decoration: none;
   color:#000;
}

.view_img:hover
{
   text-decoration: none;
   color:#000;
}

.input-daterange input 
{
    text-align: left;
}

.bootstrap-filestyle input[type="text"]
{
   height: 34px !important;
}
.view-profile-form .view_lable
{
   text-align: left;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > img
{
   width:29px;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #000;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 34%;
  left: 50%;
  z-index: 100;
  height:150px;
  width:150px;
}

.input_fields_wrap .col-md-6> .form-group
{
  float:left;
}

.input_fields_wrap_video .col-md-6> .form-group
{
  float:left;
}

.input_fields_wrap_terms .col-md-6> .form-group
{
  float:left;
}

.input_fields_wrap_notes .col-md-6> .form-group
{
  float:left;
}

.actimages img.img-responsive{
  height:200px;
  width:100%;
}

.form-control
{
  border-color: #999999;
}

.control-label{
  font-weight: bold;
}

.img_gallery img
{
  height: 200px;
  width: 100%;
}

.input_fields_wrap  input[type="file"]{
  float:left;
  width:70%
}

.checkbox-list > label.checkbox-inline:first-child {
    padding-left: 20px;
}

.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
  margin-left: 0;
}

.sweet-alert .sa-icon.sa-success .sa-placeholder {
  border-radius: 50% !important;
}

/*Amit papnai 14-01-2017*/
textarea{resize:none;}
.form-horizontal .control-label{text-align: left;}
.heading_form{border-bottom: 1px solid #ddd; margin: 15px 0; padding-bottom: 15px;}

.upload_img{width: 100px; height: 100px; float:left; line-height: 115px; background: #f1f1f1; color: #777; text-align: center; cursor: pointer;}

.upload_img i{font-size: 36px !important;}
.upload_img input{display: none;}
.img_holder{margin-left: 20px; width: 100px; height: 100px; float: left; position: relative;}
.remove_img{position: absolute; width: 20px; height: 20px; border-radius: 50% !important; background: #333; color: #fff; font-weight: bold; font-size: 13px; top: -5px; right: -5px; text-align: center; cursor: pointer;}
.img_holder img{width: 100%; height: 100%;}
.costing_box{border-top: 1px solid #ddd; padding: 15px 0; margin: 15px 0;}
.btn-large{width: 350px; display: table; height: 40px; margin: auto;}
.costing_box table td{font-size: 16px; }
.costing_box table td small{display: block;font-size: 11px;}
.heading_form small{font-size: 11px;}
.heading_form .md-checkbox label{font-size: 23px; font-weight: 300; line-height: 20px;}

/*Amit papnai 14-01-2017*/